<!-- <div class="container-12"> -->
<div class="contactpage">

	<!-- <div class="jumbotron jumbotron-edited">
		<h3 class="display-5">Contact Us</h3>
		<p>There is nothing better than working with good people.</p>
		<hr class="mb-3">
		<h6>Didn't find what you are looking for? Get in touch with us. <span class="Highlight">We're available EVERYDAY from 10:00 AM - 7:30 PM.</span> </h6>			
		<div class="container-12">					
		<div class="row text-center">
			<div class="col-sm-12 col-md-6 col-lg-3">
				<img src="assets/images/call.png" class="img-small">
				<h5><a href="tel:9970200080" hreflang="en" >9970200080</a></h5>
				<hr>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<img src="assets/images/call.png" class="img-small">
				<h5><a href="tel:9970200080" hreflang="en" >9970200080</a></h5>
				<hr>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<img src="assets/images/call.png" class="img-small">
				<h5><a href="tel:9970200080" hreflang="en" >9970200080</a></h5>
				<hr>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<img src="assets/images/call.png" class="img-small">
				<h5><a href="tel:9970200080" hreflang="en" >9970200080</a></h5>
				<hr>
			</div>
		</div>
	</div> -->
	<div class="jumbotron jumbotron-edited">        
		<h3 class="display-5">Contact Us</h3>
		<p>There is nothing better than working with good people.</p>
		<hr class="mb-3">
		<h6>Didn't find what you are looking for? Get in touch with us. <span class="Highlight">We're available EVERYDAY from 10:00 AM - 7:30 PM.</span> </h6>			
	<div class="row text-center">
		<div class="col-12 col-sm-6 col-md-4 col-xl-2 offset-xl-1">
		<img src="assets/images/call.png" class="img-small">
			<h6><a href="tel:9970200080" hreflang="en" >9970200080</a></h6>
			<hr>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-xl-2">
			<img src="assets/images/whatsapp.png" class="img-small">
			<h5><a href="https://wa.me/919970200080" hreflang="en">9970200080</a></h5>
			<hr>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-xl-2">
			<img src="assets/images/mail.png" class="img-small">
			<h5><a href="mailto:admin@smarttechpune.in" hreflang="en">admin@smarttechpune.in</a></h5>
			<hr>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-xl-2">
			<img src="assets/images/survey-icon.png" class="img-small">
			<h5><a href="survey-form.html">Customer Satisfaction Survey</a></h5>
			<hr>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-xl-2">
			<img src="assets/images/request_service.png" class="img-small">
			<h5><a routerLink="/serviceRequest">Log Service Request</a></h5>
			<hr>
		</div>
	</div>
	</div>

	<div class="jumbotron jumbotron-edited mb-0">        
		<h3 class="display-5">Doorstep Service Locations</h3>
		<p style="padding-left:10px;"><b>Note:</b> We serve customer at their location from below offices [No Store Visit]:</p>
	

	<div class="row">	
	<div class="card col-sm-12 col-md-6 col-lg-3">
		<div class="card-header">
			Mundhawa
		</div>
		<div class="card-body">
			Mayureshwar Colony, Keshav Nagar, Mundhawa Kharadi Road, Hadapsar Pune- 411036.
		</div>
	</div>
	<div class="card col-sm-12 col-md-6 col-lg-3">
		<div class="card-header">
			Phursungi
		</div>
		<div class="card-body">
			H No.386/5, Ganganagar, Fursungi, Maharashtra - 412308
		</div>
	</div>
	<div class="card col-sm-12 col-md-6 col-lg-3">
		<div class="card-header">
			Vishrantwadi
		</div>
		<div class="card-body">
			Vishal Parisar, Kalas, vishrantwadi Alandi Road, Pune, Maharashtra 411015. <span class="redtext">[Shop has been closed]</span>
		</div>
	</div>
	<div class="card col-sm-12 col-md-6 col-lg-3">
		<div class="card-header">
			Kothrud
		</div>
		<div class="card-body">
			Shop No.1, Sutar Complex, Shivaji Chowk, Front of Thorat Udhyan, Kothrud, Pune, Maharashtra - 411038 <span class="redtext">[Shop has been shifted to Karve Nagar]</span>
		</div>
	</div>
	</div>
</div>
		
<div class="jumbotron jumbotron-edited mb-0">        
		<h3 class="display-5">Service Center</h3>
		<p style="padding-left:0px;" class="mb-0">We really wanted your warranty experience should be 'Hassle-Free'. Click below to know all brands service center address and contact details.</p>
	<div class="shopAddress">		
		<button class="btn btn-warning">Service Center Details</button>
	<br/>
	<br/>
		<p class="grayhighlight"><b>Important & Recommended :</b> We do not install pirated, cracked version or activate software’s including Windows, Tally, Adobe, Auto CAD etc. If your request is related to software installation or licence then kindly get in touch with respected company authorized resellers team. We are third party independent computer repair service provider and have no relationship with any of the brands. Brands name are for representation purpose only. All rights reserved (Trademarks, Copyrights) by respected brand owners. Also, We do not repair under warranty products.</p>
	</div>
</div>

</div>
<!-- </div> -->