
    <div class="jumbotron jumbotron-edited">        
            <h3 class="display-5">Our Services</h3>
            <p>Smart Tech Services Pune has a wide range of products and / or services to cater to the varied requirements of their customers.</p>
            <hr>                
    </div>
    
    <div class="row" style="margin: 10px 0px 10px 0px;">            
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/LaptopRepair.jpg" alt="Laptop Repairing" >
                <div class="card-body">
                    <h5 class="card-title">Laptop Repairing</h5>
                    <p class="card-text">Laptop Repair service in Pune at your doorstep. Our hardware engineers will visit your place to diagnose the issue of your machine and resolve the issue in front of you. If the problem is major then we will take your laptop at our Lab and deliver it to you after resolving the issue.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/DesktopRepair.jpg" alt="Desktop Repairing" >
                <div class="card-body">
                    <h5 class="card-title">Desktop Repairing</h5>
                    <p class="card-text">We are devoted towards offering a qualitative Computer Repairing Services, as per client’s precise need and requirements. <br/><br/> This service is carried out under the strict supervision of our experts using the best grade tools and advanced techniques.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/TabletRepair.jpg" alt="Tablet Repairing">
                <div class="card-body">
                    <h5 class="card-title">Tablet Repairing</h5>
                    <p class="card-text">Got a broken or malfunctioning tablet? We got the fastest repair services for your valued gadget!<br/><br/>We do repairs for any brand & any OS tablet computers.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/PrinterRepair.jpg" alt="Printer Repairing">
                <div class="card-body">
                    <h5 class="card-title">Printer Repairing</h5>
                    <p class="card-text">Enriched with vast industrial practice, we are involved in offering Printer Repairing Services. Owing to timely completion, these are vastly well-liked by customers. For this service, we selected expert’s team who has affluent industry practice and proficiency. Moreover, we render this service as per client’s demand.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/HardwareReplacement.jpg" alt="Hardware Replacement">
                <div class="card-body">
                    <h5 class="card-title">Hardware Replacement</h5>
                    <p class="card-text">Is your computer not performing as you feel it should? We can help you. Symptoms such as screen freezes, abnormal shut-down’s, blue-screen errors, and file corruption can be caused by failing computer hardware. If your system is getting on in years and you are concerned about the cost of repair, rest easy as we are too. We will be the first to advise you if we believe that your system is not worth the cost of repair.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">            
            <div class="card">
                <img class="card-img-top" src="/assets/images/OSandSoftwareInstallation.jpg" alt="OS & Software Installation">
                <div class="card-body">
                    <h5 class="card-title">OS & Software Installation</h5>
                    <p class="card-text">Our friendly and skilled technicians can diagnose the cause of your troubled system and repair the problem. This can include replacement parts and/or software repairs such as operating system repair or re-installation.</p>
                    <p class="card-text"><small class="text-muted">Smart Tech Services, Pune.</small></p>
                </div>
        </div>
      </div>